[project]
requires-python = ">=3.6"
dependencies = [
    "numpy >= 1.19.4; python_version < '3.10'",
    "numpy >= 1.21.2; python_version >= '3.10'",    
]

[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "cmake == 3.21.1",
    "numpy == 1.19.4; python_version < '3.10'",
    "numpy == 1.21.3; python_version >= '3.10'",
    ]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]

build-verbosity = "0"

build = "cp36-* cp37-* cp38-* cp39-* cp310-*"
skip = "*-win32 *-manylinux_i686 cp310-win*"

manylinux-x86_64-image = "manylinux2014"
archs = "auto64"

[tool.cibuildwheel.linux]

before-all = [
    "yum install -y wget freetype-devel zlib-devel libpng12-devel pixman-devel eigen3-devel",

    # compile cairo (RDKit needs older/other version than in centOS7 repo)
    "wget https://www.cairographics.org/releases/cairo-1.10.0.tar.gz --no-check-certificate",
    "tar xvf cairo-*",
    "cd cairo-*",
    "./configure",
    "make -j 20",
    "make install",
    "cd ..",
]

[tool.cibuildwheel.macos]

before-all = [
    "brew install cairo eigen gnu-sed",
    ]

before-build = [
    "pip install delocate==0.8.2"
    ]

repair-wheel-command = [
    "export DYLD_LIBRARY_PATH='/usr/local/lib:/usr/lib'",
    "delocate-listdeps {wheel}",
    "delocate-wheel --require-archs {delocate_archs} -w {dest_dir} {wheel}",
]

[tool.cibuildwheel.windows]
before-all = ["mkdir C:\\libs"]

before-build = [
    "pip install delvewheel",
    "choco install tartool wget sed pkgconfiglite",
    "vcpkg install zlib:x64-windows freetype:x64-windows bzip2:x64-windows cairo:x64-windows eigen3:x64-windows" ,
    "vcpkg integrate install",
]

environment = { TMP='C:\\temp', TEMP='C:\\temp', RUNNER_TEMP='C:\\temp'}
repair-wheel-command = ["delvewheel show -v --add-path C:\\libs {wheel}", "delvewheel repair -v  --add-path C:\\libs -w {dest_dir} {wheel}"]