
name: Build RDKit platform wheels

# Build on every branch push, tag push, and pull request change:
on:
  push:
    branches:
      - conan

# defaults:
#   run:
#     working-directory: C:\

jobs:
  build_wheels:
    name: Build for cp${{ matrix.python }}-${{ matrix.platform_id }}-${{ matrix.manylinux_image }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Window 64 bit
          # - os: windows-latest
          #   python: 37
          #   bitness: 64
          #   platform_id: win_amd64
          - os: windows-latest
            python: 38
            bitness: 64
            platform_id: win_amd64
          # - os: windows-latest
          #   python: 39
          #   bitness: 64
          #   platform_id: win_amd64
          # - os: windows-latest
          #   python: 310
          #   bitness: 64
          #   platform_id: win_amd64

          # Linux 64 bit manylinux2014
          # - os: ubuntu-latest
          #   python: 37
          #   bitness: 64
          #   platform_id: manylinux_x86_64
          #   manylinux_image: manylinux2014
          # - os: ubuntu-latest
          #   python: 38
          #   bitness: 64
          #   platform_id: manylinux_x86_64
          #   manylinux_image: manylinux2014
          # - os: ubuntu-latest
          #   python: 39
          #   bitness: 64
          #   platform_id: manylinux_x86_64
          #   manylinux_image: manylinux2014
          # - os: ubuntu-latest
          #   python: 310
          #   bitness: 64
          #   platform_id: manylinux_x86_64
          #   manylinux_image: manylinux2014

          # MacOS x86_64
          # - os: macos-latest
          #   bitness: 64
          #   python: 37
          #   platform_id: macosx_x86_64
          # - os: macos-latest
          #   bitness: 64
          #   python: 38
          #   platform_id: macosx_x86_64
          # - os: macos-latest
          #   bitness: 64
          #   python: 39
          #   platform_id: macosx_x86_64
          # - os: macos-latest
          #   bitness: 64
          #   python: 310
          #   platform_id: macosx_x86_64

          # MacOS arm64
          # - os: macos-latest
          #   bitness: 64
          #   python: 38
          #   platform_id: macosx_arm64
          # - os: macos-latest
          #   bitness: 64
          #   python: 39
          #   platform_id: macosx_arm64
          # - os: macos-latest
          #   bitness: 64
          #   python: 310
          #   platform_id: macosx_arm64

    steps:
      - uses: actions/checkout@v2

      - name: Copy to C:\
        if: ${{ runner.os == 'Windows' }}
        run: |
          Copy-Item -Path D:\a\rdkit-pypi\rdkit-pypi\* -Destination C:\rdkit -Recurse

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'

      - uses: pat-s/always-upload-cache@v2
        if: ${{ runner.os == 'Windows' }}
        with:
          path: |
            C:\vcpkg\downloads
            C:\Users\runneradmin\AppData\Local\Temp\chocolatey
          key: ${{ runner.os }}-vcpkg-and_choco2

      - name: Install libraries with vcpkg
        if: ${{ runner.os == 'Windows' }}
        run: |
          vcpkg --triplet x64-windows install cairo freetype

      - name: Install libraries with chocolatey
        if: ${{ runner.os == 'Windows' }}
        run: |
          Choco-Install -PackageName tartool
          Choco-Install -PackageName wget
          Choco-Install -PackageName sed
          Choco-Install -PackageName pkgconfiglite
        shell: pwsh

      - name: Build wheels
        working-directory: C:\rdkit
        env:
          CIBW_BUILD: cp${{ matrix.python }}-${{ matrix.platform_id }}
          CIBW_ARCHS: all
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux_image }}
          CIBW_MANYLINUX_I686_IMAGE: ${{ matrix.manylinux_image }}

        run: |
          python -m pip install cibuildwheel
          python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

      - name: Step To run on failure
        if: ${{ failure() }}
        run: |
          Get-PSDrive

      - name: Start SSH session
        uses: luchihoratiu/debug-via-ssh@main
        if: ${{ failure() }}
        with:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
          SSH_PASS: ${{ secrets.SSH_PASS }}
