
name: Build wheels

on: [push, pull_request]


jobs:
  build_wheels:
    name: Build for cp${{ matrix.python }}-${{ matrix.platform_id }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Window 64 bit
          - os: windows-2019
            python: 37
            bitness: 64
            platform_id: win_amd64
          - os: windows-2019
            python: 38
            bitness: 64
            platform_id: win_amd64
          - os: windows-2019
            python: 39
            bitness: 64
            platform_id: win_amd64
          - os: windows-2019
            python: 310
            bitness: 64
            platform_id: win_amd64
          - os: windows-2019
            python: 311
            bitness: 64
            platform_id: win_amd64

          # Linux 64 bit Intel: x86_64
          - os: ubuntu-latest
            python: 37
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux2014
          - os: ubuntu-latest
            python: 38
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux2014
          - os: ubuntu-latest
            python: 39
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux2014
          - os: ubuntu-latest
            python: 310
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux2014
          - os: ubuntu-latest
            python: 311
            bitness: 64
            platform_id: manylinux_x86_64
            manylinux_image: manylinux2014

        # Linux 64 bit ARM: aarch64 (on Circle CI)
          # - os: ubuntu-latest
          #   python: 37
          #   bitness: 64
          #   platform_id: manylinux_aarch64
          #   manylinux_image: manylinux2014
          # - os: ubuntu-latest
          #   python: 38
          #   bitness: 64
          #   platform_id: manylinux_aarch64
          #   manylinux_image: manylinux2014
          # - os: ubuntu-latest
          #   python: 39
          #   bitness: 64
          #   platform_id: manylinux_aarch64
          #   manylinux_image: manylinux2014
          # - os: ubuntu-latest
          #   python: 310
          #   bitness: 64
          #   platform_id: manylinux_aarch64
          #   manylinux_image: manylinux2014

          # MacOS 64 bit Intel: x86_64
          - os: macos-latest
            bitness: 64
            python: 37
            platform_id: macosx_x86_64
          - os: macos-latest
            bitness: 64
            python: 38
            platform_id: macosx_x86_64
          - os: macos-latest
            bitness: 64
            python: 39
            platform_id: macosx_x86_64
          - os: macos-latest
            bitness: 64
            python: 310
            platform_id: macosx_x86_64
          - os: macos-latest
            bitness: 64
            python: 311
            platform_id: macosx_x86_64

          # MacOS 64 bit ARM: arm64
          - os: macos-latest
            bitness: 64
            python: 38
            platform_id: macosx_arm64
          - os: macos-latest
            bitness: 64
            python: 39
            platform_id: macosx_arm64
          - os: macos-latest
            bitness: 64
            python: 310
            platform_id: macosx_arm64
          - os: macos-latest
            bitness: 64
            python: 311
            platform_id: macosx_arm64

    steps:
      - uses: actions/checkout@v3

      - name: Copy to C:\
        if: ${{ runner.os == 'Windows' }}
        run: |
          Copy-Item -Path D:\a\rdkit-pypi\rdkit-pypi -Destination C:\rdkit -Recurse

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'

      - name: Install libraries with vcpkg
        if: ${{ runner.os == 'Windows' }}
        run: |
          vcpkg --triplet x64-windows install cairo freetype

      - name: Install libraries with chocolatey
        if: ${{ runner.os == 'Windows' }}
        run: |
          Choco-Install -PackageName sed
          Choco-Install -PackageName pkgconfiglite
        shell: pwsh

      - name: Build wheels
        env:
          CIBW_BUILD: cp${{ matrix.python }}-${{ matrix.platform_id }}
          CIBW_ARCHS: all
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux_image }}
          CIBW_MANYLINUX_I686_IMAGE: ${{ matrix.manylinux_image }}

        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            cd C:\\rdkit
          fi
          python -m pip install cibuildwheel==2.7.0
          python -m cibuildwheel --output-dir wheelhouse
        shell: bash

      - uses: actions/upload-artifact@v2
        if: ${{ runner.os == 'Windows' }}
        with:
          path: C:\rdkit\wheelhouse\*.whl

      - uses: actions/upload-artifact@v2
        if: ${{ runner.os != 'Windows' }}
        with:
          path: ./wheelhouse/*.whl
